<a href="https://colab.research.google.com/github/Jerin2004/Lect-26-CIPHER-SCHOOL-/blob/main/Data_Cleaning_and_Normalization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data Cleaning and Normalization

**Definition:**
- **Data Cleaning:** Data cleaning involves identifying and correcting (or removing) errors and inconsistencies in data to improve its quality. Common tasks include handling missing values, removing duplicates, correcting errors, and ensuring consistency in data formats.
- **Normalization:** Normalization is the process of scaling numerical data to a standard range, typically between 0 and 1, or transforming it to have a mean of 0 and a standard deviation of 1. This process helps improve the performance of machine learning algorithms and ensures that all features contribute equally to the result.

**Use Case in Real Life:**
- **Preparing Data for Machine Learning:** Handle missing values and remove duplicates to ensure clean data. Normalize features to improve the performance of machine learning algorithms.
- **Financial Data Analysis:** Correct errors in transaction data and fill missing values. Normalize financial metrics for comparison across different scales.
- **Customer Data Management:** Ensure consistency in customer records and correct erroneous entries. Normalize customer age and income data for segmentation analysis.

### Loading the Dataset

In [ ]:
import pandas as pd

# Load the dataset
df = pd.read_csv('sample_data.csv')
print(df)

      Name   Age   Salary   Department
0    Alice  25.0  50000.0           HR
1      Bob  30.0      NaN  Engineering
2  Charlie  35.0  70000.0  Engineering
3    David   NaN  60000.0           HR
4      Eve  28.0  80000.0           HR
5    Frank  40.0  55000.0        Sales
6    Grace  50.0  85000.0        Sales
7     Hank  60.0  90000.0        Sales

### Identifying Missing Values

In [ ]:
# Check for missing values
print(df.isnull().sum())

Name          0
Age           1
Salary        2
Department    0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        10 non-null     object
 1   Age         9 non-null      float64
 2   Salary      8 non-null      float64
 3   Department  10 non-null     object
dtypes: float64(2), object(2)
memory usage: 448.0+ bytes

### Removing Rows with Missing Values

In [ ]:
# Remove rows with any missing values
df_cleaned = df.dropna()
print(df_cleaned)

      Name   Age   Salary   Department
0    Alice  25.0  50000.0           HR
2  Charlie  35.0  70000.0  Engineering
4      Eve  28.0  80000.0           HR
5    Frank  40.0  55000.0        Sales
6    Grace  50.0  85000.0        Sales
7     Hank  60.0  90000.0        Sales

### Filling Missing Values

In [ ]:
# Fill missing values with a specific value
df_filled = df.fillna({
    'Age': df['Age'].mean(),
    'Salary': df['Salary'].mean()
})
print(df_filled)

      Name        Age   Salary   Department
0    Alice  25.000000  50000.0           HR
1      Bob  30.000000  70000.0  Engineering
2  Charlie  35.000000  70000.0  Engineering
3    David  38.285714  60000.0           HR
4      Eve  28.000000  80000.0           HR
5    Frank  40.000000  55000.0        Sales
6    Grace  50.000000  85000.0        Sales
7     Hank  60.000000  90000.0        Sales

### Forward Fill Method

In [ ]:
# Forward fill method to propagate the next values backward
df_ffill = df.fillna(method='ffill')
print(df_ffill)

      Name   Age   Salary   Department
0    Alice  25.0  50000.0           HR
1      Bob  30.0  50000.0  Engineering
2  Charlie  35.0  70000.0  Engineering
3    David  35.0  60000.0           HR
4      Eve  28.0  80000.0           HR
5    Frank  40.0  55000.0        Sales
6    Grace  50.0  85000.0        Sales
7     Hank  60.0  90000.0        Sales

### Backward Fill Method

In [ ]:
# Backward fill method to propagate the previous values forward
df_bfill = df.fillna(method='bfill')
print(df_bfill)

      Name   Age   Salary   Department
0    Alice  25.0  50000.0           HR
1      Bob  30.0  70000.0  Engineering
2  Charlie  35.0  70000.0  Engineering
3    David  28.0  60000.0           HR
4      Eve  28.0  80000.0           HR
5    Frank  40.0  55000.0        Sales
6    Grace  50.0  85000.0        Sales
7     Hank  60.0  90000.0        Sales

### Removing Duplicates

In [ ]:
# Add duplicate rows for demonstration
df = pd.concat([df, df.iloc[[0]], df.iloc[[1]]], ignore_index=True)
print('Before removing duplicates:\n', df)

# Remove duplicate rows
df_no_duplicates = df.drop_duplicates()
print('After removing duplicates:\n', df_no_duplicates)

Before removing duplicates:
       Name   Age   Salary   Department
0    Alice  25.0  50000.0           HR
1      Bob  30.0      NaN  Engineering
2  Charlie  35.0  70000.0  Engineering
3    David   NaN  60000.0           HR
4      Eve  28.0  80000.0           HR
5    Frank  40.0  55000.0        Sales
6    Grace  50.0  85000.0        Sales
7     Hank  60.0  90000.0        Sales
8    Alice  25.0  50000.0           HR
9      Bob  30.0      NaN  Engineering
After removing duplicates:
       Name   Age   Salary   Department
0    Alice  25.0  50000.0           HR
1      Bob  30.0      NaN  Engineering
2  Charlie  35.0  70000.0  Engineering
3    David   NaN  60000.0           HR
4      Eve  28.0  80000.0           HR
5    Frank  40.0  55000.0        Sales
6    Grace  50.0  85000.0        Sales
7     Hank  60.0  90000.0        Sales

### Replacing Incorrect Values

In [ ]:
# Replace incorrect values in the 'Department' column
df_corrected = df.replace({'Department': {'HR': 'Human Resources', 'Sales': 'Sales Department'}})
print(df_corrected)

      Name   Age   Salary        Department
0    Alice  25.0  50000.0   Human Resources
1      Bob  30.0      NaN       Engineering
2  Charlie  35.0  70000.0       Engineering
3    David   NaN  60000.0   Human Resources
4      Eve  28.0  80000.0   Human Resources
5    Frank  40.0  55000.0  Sales Department
6    Grace  50.0  85000.0  Sales Department
7     Hank  60.0  90000.0  Sales Department
8    Alice  25.0  50000.0   Human Resources
9      Bob  30.0      NaN       Engineering

### Ensuring Consistency

In [ ]:
# Convert all department names to lowercase for consistency
df['Department'] = df['Department'].str.lower()
print(df)

      Name   Age   Salary   Department
0    Alice  25.0  50000.0           hr
1      Bob  30.0      NaN  engineering
2  Charlie  35.0  70000.0  engineering
3    David   NaN  60000.0           hr
4      Eve  28.0  80000.0           hr
5    Frank  40.0  55000.0        sales
6    Grace  50.0  85000.0        sales
7     Hank  60.0  90000.0        sales
8    Alice  25.0  50000.0           hr
9      Bob  30.0      NaN  engineering

### Min-Max Normalization

In [ ]:
# Apply Min-Max normalization using the formula
df_normalized = df.copy()
for col in ['Age', 'Salary']:
    df_normalized[col] = (df[col] - df[col].min()) / (df[col].max() - df[col].min())

# Print original and normalized values
print("Original DataFrame:")
print(df)
print("\nNormalized DataFrame:")
print(df_normalized)

Original DataFrame:
      Name   Age   Salary   Department
0    Alice  25.0  50000.0           hr
1      Bob  30.0      NaN  engineering
2  Charlie  35.0  70000.0  engineering
3    David   NaN  60000.0           hr
4      Eve  28.0  80000.0           hr
5    Frank  40.0  55000.0        sales
6    Grace  50.0  85000.0        sales
7     Hank  60.0  90000.0        sales
8    Alice  25.0  50000.0           hr
9      Bob  30.0      NaN  engineering

Normalized DataFrame:
      Name       Age  Salary   Department
0    Alice  0.000000   0.000           hr
1      Bob  0.142857     NaN  engineering
2  Charlie  0.285714   0.500  engineering
3    David       NaN   0.250           hr
4      Eve  0.085714   0.750           hr
5    Frank  0.428571   0.125        sales
6    Grace  0.714286   0.875        sales
7     Hank  1.000000   1.000        sales
8    Alice  0.000000   0.000           hr
9      Bob  0.142857     NaN  engineering

Advantages:

* Ensures that all features contribute equally to the analysis.
* Helps improve the performance of machine learning algorithms.
* Simplifies the interpretation of coefficients in linear models.

Disadvantages:

* Sensitive to outliers, as the range is determined by the minimum and maximum values.
* Not suitable for data with a non-linear distribution, as it can distort the original data distribution.

### Thank You